body {
  font-family: "Courier New", serif;
  color: #fff;
  background-color: #d5b3e0;
}

h1 {
  text-align: center;
  font-size: 61px;
}

.image-button {
  text-align: center;
  margin-top: 150px;
}

.image-button button {
  background-color: #d5b3e0;
  border: 4px solid #fff;
  color: white;
  padding: 20px 50px;
  font-family: "Courier New", serif;
  font-size: 50px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.image-button button:hover {
  background-color: #fff;
  color: #d5b3e0;
  font-weight: 600;
}
